<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.gmbdesign.cfrm.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthService</servlet-name>
        <servlet-class>com.gmbdesign.cfrm.servlets.AuthService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuarios</servlet-name>
        <servlet-class>com.gmbdesign.cfrm.servlets.RegistroUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroSocios</servlet-name>
        <servlet-class>com.gmbdesign.cfrm.servlets.RegistroSocios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarInfoSocio</servlet-name>
        <servlet-class>com.gmbdesign.cfrm.servlets.CargarInfoSocio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestorImpresionCarnets</servlet-name>
        <servlet-class>com.gmbdesign.cfrm.servlets.GestorImpresionCarnets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEventos</servlet-name>
        <servlet-class>com.gmbdesign.cfrm.servlets.ListarEventos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSocio</servlet-name>
        <servlet-class>com.gmbdesign.cfrm.servlets.UpdateSocio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthService</servlet-name>
        <url-pattern>/AuthService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuarios</servlet-name>
        <url-pattern>/RegistroUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroSocios</servlet-name>
        <url-pattern>/RegistroSocios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarInfoSocio</servlet-name>
        <url-pattern>/CargarInfoSocio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestorImpresionCarnets</servlet-name>
        <url-pattern>/GestorImpresionCarnets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEventos</servlet-name>
        <url-pattern>/ListarEventos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSocio</servlet-name>
        <url-pattern>/UpdateSocio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
